header {
    
    width: 100%;
    height: 70px;
    border: 1px solid black;
}
ul {
    margin-block-start: 0 !important;
    margin-block-end: 0 !important;
    margin-bottom: 0 !important;
    li {
        list-style: none;
        a {
            text-decoration: none;
        }
    }
}
img {
    width: 100px;
}
.active {
    border-bottom: 1px solid blue;
}
